*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

main{
    padding: 1rem 3rem 3rem 3rem;
}

h1{
    text-align: center;
    padding: 1rem;
}
.title{
    font-size: 5rem;
}
.img{
    width: 90%;
    height: 95vh;
    margin: auto;
}

.img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: url(#displace);
  opacity: 0;
}

.mb{
    margin-bottom: 1rem;
}

.title1{
    text-align: left;
    padding: 1rem 0;
}
p{
    width: 60%;
}

@media screen and (max-width: 600px) {
    main{
    padding: 1rem 2rem;
}
    h1{
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}
.title{
    font-size: 2.3rem;
}
.img{
    width: 90%;
    height: 65vh;
    margin: auto;
}

.img img{
    scale: 1.3;
}

.mb{
    margin-bottom: 3rem;
}

.title1{
    text-align: left;
    padding: 1rem 0;
}
p{
    width: 90%;
    font-size: .8rem;
}
}